-
block name

#contact.c-contact_wrapper.section-wrapper
  section.fadeIn
    h2 お問い合わせ
    p 見学のご予約・ご意見・ご相談など、お気軽にお問合わせください。
    .tel-wrapper
      a(href="tel:04-2595-8802") 04-2595-8802
    //- figure.c-img_wrapper
    //-   img(src="/assets/img/main.png", alt="スイートホーム")