-
block name

#info.c-info_wrapper.section-wrapper.container
  section
    h2.fadeIn ご案内
    p.fadeIn 東京都立川市で夜間託児保育所をお探しなら、めばえひろばを是非ご利用ください。立川駅南口より徒歩6分。40畳の広々な環境です。月極、一時預かりどちらもご対応いたします。「子どもたちが安心して過ごせる」をもっとうに、夜働くママさんパパさんを応援しています！
    include ./_infoContent