-
block name

-
  var arr = [
    {
      title: "新着情報",
      description: "説明",
      link: "",
      img: "assets/img/01.jpg",
      date: "2025/02/17"
    },
    {
      title: "新着情報",
      description: "説明",
      link: "",
      img: "assets/img/01.jpg",
      date: "2025/02/17"
    },
    {
      title: "新着情報",
      description: "説明",
      link: "",
      img: "assets/img/01.jpg",
      date: "2025/02/16"
    },
    {
      title: "新着情報",
      description: "説明",
      link: "",
      img: "assets/img/01.jpg",
      date: "2025/02/17"
    },
  ]

#new.c-new_wrapper.section-wrapper.container
  section
    h2.fadeIn 新着情報
    ul.list.fadeIn
      each val in arr
        li.list-item
          a(href="") 
            figure
              img(src=val.img)
            h3 #{val.title}
            p.tag
            p #{val.description}
            button.btn MORE