-
block name

#top.c-top_wrapper.section-wrapper
  section
    .c-txts_wrapper
      .c-txt_wrapper
        p.c-txt 夜働くママさんパパさんを応援しています！
      .c-ttl_wrapper
        h2 <span class="green">ス</span><span class="red">イ</span><span class="orange">ー</span><span class="blue">ト</span><span class="green">ホ</span><span class="orange">ー</span><span class="red">ム</span>
      .c-txtWrapper_last
        p.c-txt 会員制夜間託児所
      span 月曜日から土曜日まで元気に開園中!!
    .scrollDown
      a(href="#new") 
        <span></span> SCROLL
    figure.c-img_wrapper
      img(src="/assets/img/main.png", alt="スイートホーム")