@use "./mixin" as mixin;
@use "./variable" as var;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  min-height: 100vh;
  font-family: var.$font;
  font-feature-settings: "palt", "liga", "clig";
  font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

li {
  list-style: none;
}

a {
  font-family: var.$yomogi;
  color: inherit;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-family: var.$yomogi;
  font-size: 28px;
  @include mixin.mq(medium) {
    font-size: 34px;
  }
}

p,
button {
  font-family: var.$yomogi;
}

img {
  width: 100%;
  vertical-align: bottom;
  backface-visibility: hidden;
}

.red {
  color: #dc143c;
}

.orange {
  color: #d68331;
}

.green {
  color: #3cb371;
}

.blue {
  color: #185ca0;
}

.wrapper {
  display: block;
  width: 100%;
  // margin-top: 48px;
  overflow: hidden;
}

._sp {
  display: block;
  @include mixin.mq(medium) {
    display: none;
  }
}

._pc {
  display: none;
  @include mixin.mq(medium) {
    display: block;
  }
}

._spAndPc {
  display: block;
  @include mixin.mq-and(xsmall, medium) {
    display: none;
  }
  display: block;
}

._green {
  color: var.$color-txt;
}

._greenLine {
  text-decoration: underline 3px solid var.$color-txt;
}

.sectionTtl-wrapper {
  max-width: 308px;
  margin: 0 auto;
  padding: 8px 0 3px 0;
  border: 5px solid #000000;
  text-align: center;
  box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.3);
  line-height: 1.4;
}

.container {
  padding: 100px 16px 140px 16px;
  @include mixin.mq(medium) {
    padding: 100px 32px 140px 32px;
  }
}

.fontJost {
  font-family: var.$jost;
  font-weight: 500;
}

.fontShippori {
  font-family: var.$shippori;
}

.main {
  @include mixin.mq(medium) {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
  }
}

.topHeroBtn-wrapper {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 79;
  @include mixin.mq(medium) {
    position: static;
  }
}

._fixed {
  position: fixed;
}

.topHero {
  &::before {
    position: absolute;
    right: 0;
    width: 100vw;
    height: 100%;
    margin-left: auto;
    background-color: transparent;
    box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.3);
    content: "";
  }
}

// ========== section-wrapper =========
.container {
  max-width: 1020px;
}
.section-wrapper {
  @include mixin.mq(medium) {
    min-width: 480px;
    margin: 0 auto;
  }
}

// ======== footer ========
.l-footer {
  .l-footer_inner {
    @include mixin.mq(medium) {
      max-width: 545px;
    }
    .l-footer_nav {
      .l-footerNav_list {
        justify-content: center;
      }
      .l-footerNavList_item {
        &:nth-of-type(4),
        &:last-of-type {
          text-align: center;
        }
      }
    }
  }
}

#news,
#info,
#price {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @include mixin.mq(medium) {
      // width: 48%;
    }

    li {
      width: 100%;
      padding: 0;
      @include mixin.mq(medium) {
        width: 48%;
      }
    }
  }
}

// ========= ANIMATION ===========
#loading {
  overflow: hidden;
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
  }
  &.loaded {
    overflow: visible;
    &::before {
      // TODOローディング画面を消すときにゆっくり消す
      content: normal;
      // transition: all 1.5s;
    }
  }
}
.fadeIn {
  opacity: 0;
  transform: translate(0, -30);
  transition: all 1.5s;
}

.fadeIn-up {
  opacity: 1;
  transform: translate(0, 0);
}

// loadingアニメーション
.loader {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 9999999;
}

.loaded {
  .loader {
    opacity: 0;
    transition: all 0.2s;
  }
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var.$mainTxt-color,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em var.$mainTxt-color,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em var.$mainTxt-color,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
      1.75em 1.75em 0 0em var.$mainTxt-color,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
      0em 2.5em 0 0em var.$mainTxt-color,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em 1.8em 0 0em var.$mainTxt-color,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
      -2.6em 0em 0 0em var.$mainTxt-color,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em -1.8em 0 0em var.$main-color;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em var.$main-color,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em var.$main-color,
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
      2.5em 0em 0 0em var.$main-color,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
      1.75em 1.75em 0 0em var.$mainTxt-color,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
      0em 2.5em 0 0em var.$mainTxt-color,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em 1.8em 0 0em var.$mainTxt-color,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
      -2.6em 0em 0 0em var.$mainTxt-color,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
      -1.8em -1.8em 0 0em var.$mainTxt-color;
  }
}
