extends ./layout/_layout

block meta
  -
    const meta = {
      title:"会員制夜間託児所 スイートホーム 立川",
      description: "会員制の夜間託児所、立川駅南口徒歩1分!!月曜日から土曜日まで元気に開園中!!夜働くママさんパパさんを応援しています!",
    }

block name
  - const name = "home"

block contents

      include ./object/component/_top
      //- include ./object/component/_news
      include ./object/component/_info
      include ./object/component/_about
      include ./object/component/_contact