@use "../../foundation/mixin" as mixin;
@use "../../foundation/variable" as var;

#about {
  padding-bottom: 0px;
  p {
    margin-top: 32px;
    text-align: center;
    background-color: var.$bcg-color;
    font-size: 24px;
    font-weight: bold;
    @include mixin.mq(medium) {
      font-size: 20px;
    }
  }
  table {
    margin-top: 10px;
    @include mixin.mq(medium) {
      margin-top: 24px;
    }
  }
  .iframe-wrapper {
    margin-top: 100px;
  }
  iframe {
    width: 100vw;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
    vertical-align: bottom;
  }
  table {
    width: 100%;
    font-weight: bold;
    tr {
      display: flex;
      flex: wrap;
      border-bottom: 1px solid #bbb;
      td {
        padding: 16px 10px;
        font-family: var.$yomogi;
        &:first-child {
          width: 40%;
          font-weight: bold;
        }
        &:last-child {
          width: 60%;
        }
      }
    }
  }
}
