@use "../../foundation/mixin" as mixin;
@use "../../foundation/variable" as var;

#contact {
  position: relative;
  background-image: url(../img/top_bg.png); /* 画像のURLを指定       */
  background-repeat: no-repeat; /* 画像の繰り返しを指定  */
  background-position: right; /* 画像の表示位置を指定  */
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: hard-light;
  background-size: cover;
  width: 100%;
  // height: 100vh;
  height: 500px;
  @include mixin.mq(medium) {
    background-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 182 193 / 38%);
    mix-blend-mode: lighten;
  }
  section {
    padding: 16px;
  }
}

.c-contact_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    @include mixin.mq(medium) {
      font-size: 20px;
    }
  }

  .tel-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    @include mixin.mq(medium) {
      font-size: 28px;
    }
  }
}
