@use "../../foundation/mixin" as mixin;
@use "../../foundation/variable" as var;

#info {
  // margin-top: 80px;
  background-color: #ffe4e1;
  @include mixin.mq(medium) {
    margin-top: 80px;
    padding-bottom: 100px;
  }
  section > p {
    margin-top: 40px;
  }
  .list-wrapper {
    & > p {
      margin-top: 24px;
    }
  }

  // =========== カテゴリーリスト START  ========== //
  .red {
    background-color: #bf4ea8;
  }
  .orange {
    background-color: #d68331;
  }
  .green {
    background-color: #70992f;
  }
  .blue {
    background-color: #185ca0;
  }
  .category-list {
    display: inline-block;
    margin-top: 10px;

    li {
      display: inline-block;
      width: auto;
      margin: 0 4px 8px 0;
    }
    a {
      padding: 2px 10px;
      color: #fff;
    }
  }

  // =========== カテゴリーリスト END  ========== //

  .list {
    margin-top: 24px;
    @include mixin.mq(medium) {
      // margin-top: 80px;
    }
    a {
      span {
        display: flex;
        position: absolute;
        top: 0;
        z-index: 10;
        padding: 2px 10px;
        color: #fff;
        writing-mode: horizontal-tb;
      }
    }

    h3 {
      color: #fff;
      z-index: 5;
      font-size: 18px;
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        background: rgba(234, 170, 208, 0.8);
        z-index: -1;
      }
    }
  }
  li {
    background-color: #fff;
  }
  a {
    position: relative;
  }
  h3 {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    writing-mode: horizontal-tb;
  }
  img {
    opacity: 0.7;
  }
}
