@use "../../foundation/mixin" as mixin;
@use "../../foundation/variable" as var;

#new {
  ul {
    margin-top: 48px;
  }
  li {
    background-color: #ffe4e1;
    box-shadow: 0px 0px 16px -6px rgba(53, 34, 54, 0.6);
    border-radius: 10px;
  }
  a {
    display: block;
    padding: 10px;
    @include mixin.mq(medium) {
      padding: 16px;
    }
  }
  figure {
    display: block;
    height: 50%;
  }
  h3 {
    margin-top: 10px;
  }
  p {
    margin-top: 8px;
  }
  .btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
}
