@use "../../foundation/mixin" as mixin;
@use "../../foundation/variable" as var;

.month,
.temporary,
.other {
  #info {
    padding-bottom: 0px;
    h3 {
      position: relative;
      margin-top: 48px;
    }

    .txt-block {
      padding: 1rem 1.5rem;
      margin-top: 40px;
      background-color: #fff;
      .txt-block_container {
        max-width: 500px;
      }
      a {
        color: #0000ee;
        text-decoration: underline;
      }
      p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;

        &:nth-child(6) {
          margin-top: 18px;
          font-size: 22px;
          text-decoration: underline;
        }
      }
      span {
        display: block;
        margin-top: 10px;
      }
      figure {
        margin-top: 10px;
      }
    }

    strong {
      margin-top: 10px;
    }
    .btn-wrapper {
      height: 38px;
      margin-top: 40px;
      text-align: center;
      a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        color: var.$mainTxt-color;
        font-size: 20px;
        font-weight: bold;
        span {
          vertical-align: middle;
        }
      }
    }
    button {
      max-width: 288px;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: #fff;
    }
  }
}

.c-price_table {
  max-width: 380px;
  width: 100%;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-collapse: collapse;
  background-color: #fff;

  .bold {
    font-weight: bold;
  }

  tr {
    max-width: 380px;
    width: 100%;
  }

  .center {
    text-align: center;
  }
  th {
    text-align: left;
  }

  th,
  td {
    width: 50%;
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
  }
}
