@use "../../foundation/mixin" as mixin;
@use "../../foundation/variable" as var;

@font-face {
  font-family: "ri-font";
  src: url(/assets/font/RiiCookieRt.otf);
}
@font-face {
  font-family: "ak-font";
  src: url(/assets/font/AkazukiPOP.otf);
}

@keyframes arrow {
  0% {
    opacity: 0;
    top: 0%; /*スタート地点(cp_arrowsの高さの40%)*/
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 40%;
    opacity: 0;
  }
}

#top {
  background-image: url(../img/top_bg.png); /* 画像のURLを指定       */
  background-repeat: no-repeat; /* 画像の繰り返しを指定  */
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: hard-light;
  background-size: cover;
  width: 100%;
  height: 100vh;
  @include mixin.mq(medium) {
    background-position: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(255 182 193 / 38%);
    mix-blend-mode: lighten;
  }
  section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
  }

  h2 {
    figure {
      display: flex;
      margin: 16px 0;
    }
  }
  h2,
  p {
    font-family: var.$yusei;
  }
  .c-txts_wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 32px;
    @include mixin.mq(medium) {
      // background-position: center;
    }

    & > span {
      margin-top: 4px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
        1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff,
        1px 0 0 #fff;
      font-size: 20px;
      font-family: var.$yusei;
      @include mixin.mq(medium) {
        font-size: 24px;
      }
    }
  }

  .c-txt_wrapper {
    align-items: center;
    p {
      color: rgb(233 130 150 / 86%);
      font-size: 20px;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
        1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff,
        1px 0 0 #fff;
      @include mixin.mq(medium) {
        font-size: 24px;
      }
    }
  }
  .c-txt {
    color: black;
    font-size: 24px;
    font-weight: bold;
  }

  .c-txtWrapper_last {
    text-align: center;
    @include mixin.mq(medium) {
      // margin-top: 24px;
    }

    p {
      padding: 0 20px;
      border-radius: 40px;
      background: #ffa6b8db;
    }

    .c-txt {
      color: #fff;
      font-size: 32px;
      @include mixin.mq(medium) {
        font-size: 34px;
      }
    }
  }
  .c-ttl_wrapper {
    @include mixin.mq(medium) {
      // margin-top: 30px;
    }
  }
  h2 {
    font-size: 58px;
    font-weight: 1000;
    white-space: nowrap;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
      1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
    border: none;
    @include mixin.mq(medium) {
      font-size: 94px;
    }
  }

  .c-img_wrapper {
    position: absolute;
    z-index: 1;
    max-width: 620px;
    width: 100%;
    text-align: center;

    img {
      width: 90%;
      opacity: 0.9;
    }
    &.risu {
      left: -30%;
      bottom: -146px;
      img {
        width: 40%;
      }
    }
    &.tanuki {
      right: -20%;
      bottom: -180px;
      img {
        width: 60%;
      }
    }
  }

  .green {
    color: #74e3a6;
  }

  .red {
    color: #ffa6b8db;
  }

  .orange {
    color: #f4c08d;
  }
  .blue {
    color: #5999d8;
  }

  // ============ scrollDown START =============
  .scrollDown {
    position: absolute;
    bottom: 20px;

    a {
      position: relative;
      z-index: 10;
      padding-top: 80px;
      color: #fff;
      font-family: var.$font;
      font-size: 20px;
      font-weight: bold;
      @include mixin.mq(medium) {
        // font-size: 82px;
      }
    }
    span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      transform: rotate(-45deg);
      border-bottom: 1px solid #fff;
      border-left: 1px solid #fff;
      animation: arrow 1.5s infinite;
    }
  }
  // ============ scrollDown END =============
}
