extends ./../../../layout/_layout

block meta
  -
    const meta = {
      title:"会員制夜間託児所 スイートホーム 月額料金",
      description: "会員制の夜間託児所、立川駅南口徒歩1分!!月曜日から土曜日まで元気に開園中!!夜働くママさんパパさんを応援しています!",
    }

block name
  - const name = "month"

block contents
  main#info.month
    .container
      h2 月額料金案内
      include ./../../../layout/_breadcrumb
      .txt-block
          .txt-block_container
            p その他の料金のご案内です。
            figure
              img(src="/assets/img/01.jpg", alt="")
            p 
              a(href="/info/price/temporary/") 一時預かり料金表はこちら
            p
              a(href="/info/price/other/") その他の料金表はこちら
            p ※表示価格は全て税込み表記です。
            p お支払い方法
            span 各種お支払い方法対応しております。
            p 現金・クレジットカード
            figure
              img(src="/assets/img/card.png", alt="現金・クレジットカード")
            p 電子マネー
            figure 
              img(src="/assets/img/densi.png", alt="電子マネー")
      include ./../../../object/component/_priceTable
      .btn-wrapper
        button 
          a(href="/info/")
            span 一覧へ戻る