extends ./../layout/_layout

block meta
  -
    const meta = {
      title:"会員制夜間託児所 スイートホーム ブログ",
      description: "会員制の夜間託児所、立川駅南口徒歩1分!!月曜日から土曜日まで元気に開園中!!夜働くママさんパパさんを応援しています!",
    }

block name
  - const name = "post"


block contents
  main.main#news.container
    h2 新着情報
    //- ul.c-bleadcrumbs
    include ./../layout/_breadcrumb
    article
      h3.p-ttl
      p.p-date
      .p-content_wrapper
      figure.p-img_wrapper
        img(src="", alt="" class="p-img")
    include ./../layout/_aside