extends ./../../layout/_layout

block meta
  -
    const meta = {
      title:"会員制夜間託児所 スイートホーム 料金",
      description: "会員制の夜間託児所、立川駅南口徒歩1分!!月曜日から土曜日まで元気に開園中!!夜働くママさんパパさんを応援しています!",
    }

block name
  - const name = "price"

block contents
  main#info 
    .container
      h2 ご案内
      include ./../../layout/_breadcrumb
      include ./../../object/component/_priceContent
