-
  var navArr = [
    //- {
    //-   txt: "新着情報",
    //-   link: "#news"
    //- },
    {
      txt: "ご案内",
      link: "#info"
    },
    {
      txt: "スイートホームについて",
      link: "#about"
    },
    {
      txt: "お問い合わせ",
      link: "#contact"
    },
    {
      txt: "料金",
      link: "/info/price/"
    },
    //- {
    //-   txt: "ブログ",
    //-   link: "/news/"
    //- }
  ]



header.l-header
  .l-header_inner
    h1
      a(href="/") 
        figure
          img(src="/assets/img/title.png", alt="スイートホーム")
      //- a(href="/") <span class="green">ス</span><span class="red">イ</span><span class="orange">ー</span><span class="blue">ト</span><span class="red">ホ</span><span class="orange">ー</span><span class="blue">ム</span>

    .l-headerNavBtn_wrapper.js-navBtn
      .l-header_navBtn
        span
        span
    nav.l-header_nav
      .l-headerNav_inner
        ul.l-headerAnchor_links.js-anchor
          each val in navArr
            li
              a(href=`${val.link}`) #{val.txt}