extends ./../layout/_layout

block meta
  -
    const meta = {
      title:"美容院/ヘアサロンの方へ｜AGAカウンセリングセンター",
      description: "AGAカウンセリングセンタ-は、あなたのお店に専用POPを設置するだけでサイドビジネスが開始できる、ビジネススキームです。",
    }

block name
  - const name = "info"

block contents
  main#info
    .container
      h2 ご案内
      include ./../layout/_breadcrumb
      include ./../object/component/_infoContent